//------------------------------ fonts ---------------------------------------//

@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/gagalin-regular-webfont.woff2') format('woff2'),
    url('../fonts/gagalin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Permian';
    src: url('../fonts/permianslabseriftypeface-webfont.woff2') format('woff2'),
    url('../fonts/permianslabseriftypeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



//----------------------------------- variable --------------------------------//

// $color-khaki: #a3a78b;



//------------------------------ base styles ---------------------------------//
@import "common/mixin";

html {
    font-size: 16px;
    @include laptop {
        font-size: 12px;
    }
    @include tablet {
        font-size: 10px;
    }
    @include phone {
        font-size: 8px;
    }
}
html, body {
    height: 100%;
}

body { 
  margin: 0;
  // min-width: 320px;
  // font-family: $base-font;
  // background-color: $color-green;
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    overflow: hidden;
    padding: 0;
}
.wrapper:after {
    content: "";
    height: 100px;
    display: block;
}

.footer {
    height: 100px;
    margin-top: -100px;
    background-color: #000000;
}

.fixed {
    position:fixed;
    width:100%;
    overflow: hidden;
}

//------------------------------------- file import --------------------------//


@import 'common/header';
@import 'common/main-content';
@import 'common/menu';
@import 'common/footer';

 