.main
    section.screen.top-screen
        //video.screen__video#video(width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto" tabindex="0" poster="")
        //    source(src="assets/img/video.mp4" type="video/mp4")
        //    source(src="video/mult.ogv" type="video/ogg")
        .top-screen__wrap
            .logo
                img.logo__img(src="assets/img/logo.png" alt="LBMM")
            .top-screen__title Главное событие августа...

         .menu__btn#menu-btn
            .menu__btn-bar
    include _info
    include _video
    include _foto
    include _partner
    include _map