.menu#menu
    ul.menu__list
        li.menu__item
            a.menu__link(href='#info') Инфо
        li.menu__item
            a.menu__link(href='#') Спикеры
        li.menu__item
            a.menu__link(href='#video') Видео
        li.menu__item
            a.menu__link(href='#foto') Фото
        li.menu__item
            a.menu__link(href='#partner') Партнеры
        li.menu__item
            a.menu__link(href='#map') Карта