section.partners#partner
    .container
        .section__title Наши партнеры
        ul.partners__list
            li.partners__item.avito
                img.partner__img(src="assets/img/avito.png" alt="")
            li.partners__item.sber
                img.partner__img(src="assets/img/sber.png" alt="")
            li.partners__item.alfa
                img.partner__img(src="assets/img/alfa.png" alt="")
            li.partners__item.tgis
                img.partner__img(src="assets/img/2gis.png" alt="")
            li.partners__item.mail
                img.partner__img(src="assets/img/mail.png" alt="")