section.video#video
    .container
        .section__title Видео
        ul.video__list
            li.video__item
                .video__wrapper
                    .video__inner
                    .video__start(data-path='https://www.youtube.com/watch?v=cR1Ey2WWGSs')
                        svg(xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle")
                            polygon(points="0,0 40,20 0,40")
                .video__title Название
                .video__desq
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li.video__item
                .video__wrapper
                    .video__start
                        svg(xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle")
                            polygon(points="0,0 40,20 0,40")
                .video__title Название
                .video__desq
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li.video__item
                .video__wrapper
                    .video__start
                        svg(xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle")
                            polygon(points="0,0 40,20 0,40")
                .video__title Название
                .video__desq
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.