section.video#video
    .container
        .section__title Видео
        ul.video__list
            li.video__item
                .video__wrapper
                    .video__inner
                    .video__start(data-path='https://www.youtube.com/watch?v=cR1Ey2WWGSs')
                .video__title Название
                .video__desq
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li.video__item
                .video__wrapper
                    .video__start
                .video__title Название
                .video__desq
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li.video__item
                .video__wrapper
                    .video__start
                .video__title Название
                .video__desq
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.