.foto {
  padding: rem(50px) 0;

  .container {
    text-align: center;
  }
}
.foto__btn {
  display: inline-block;
  opacity: 0.58;
  padding: rem(10px) rem(25px);
  background-color: white;
  border: 2px solid #e53852;
  text-decoration: none;
  color: #e53852;
  font-family: 'Permian';
  font-size: rem(15px);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  &:hover {
    opacity: .8;
  }
}
//--------------- masonry --------------------//
.grid {
  background: #fff;
  transform: translateX(8%);
  margin-bottom: 20px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 28.333%;
}

.grid-item {
  float: left;
  margin-bottom: 5px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
