.info {
  padding: rem(50px) 0;
}
.info__text {
  color: black;
  font-family: 'Permian';
  font-size: rem(18px);
  font-weight: 400;
  position: relative;
  margin-bottom: rem(50px);

  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: -150px;
    height: 98%;
    width: 131px;
    background: url('../img/info-prev.png') center center repeat-y;

  }
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: -150px;
    height: 98%;
    width: 131px;
    background: url('../img/info-after.png') center center repeat-y;

  }
}

.info__hosts {
  display: flex;
  justify-content: space-between;

  @include tablet {
    display: block;
  }

}
.host {
  display: flex;
  justify-content: space-between;
  margin-left: rem(80px);
  &:first-child {
    margin-left: 0;
  }
  @include tablet {
    margin-left: 0;
    margin-bottom: 10px;
    justify-content: center;
  }
}
.host__wrap-img {
  width: 162px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;

  @include tablet {
    width: 102px;
    height: 100px;
  }
}
.host__img {
  width: 100%;
  height: auto;
}

.host__right {
  margin-left: rem(20px);
}
.host__name {
  color: black;
  font-family: 'Permian';
  font-size: rem(26px);
  font-weight: 700;
  margin-bottom: 20px;
}
.host__desq {
  color: black;
  font-family: 'Permian';
  font-size: rem(16px);
  font-weight: 400;
  margin-bottom: 10px;
}

.host__socials {
  margin: 0;
  padding: 0;
  list-style: none;
}

.host__socials-item {
  display: inline-block;
  margin-left: 2px;
  &:first-child {
    margin-left: 0;
  }
}

#fb, #tw {
  fill: #000;
}
.host__link {
  display: block;
  width: 15px;
  height: 15px;
  text-decoration: none;
  overflow: hidden;
  &:hover > #fb, &:hover > #tw {
    fill: #e53852;
  }
}

