


// кнопка меню
.menu__btn {
  position: fixed;
  top: rem(35px);
  right: rem(35px);
  z-index: 3;
  display: inline-block;
  vertical-align: top;
  transition: 0.1s all linear;
  background: 0;
  width: rem(45px);
  height: rem(55px);
  outline: 0;
  padding: 0;
  border: 0;
  z-index: 2;
  cursor: pointer;
  @include phone {
    width: rem(65px);
    height: rem(85px);
  }
}
.menu__btn-bar {

  &, &::before, &::after {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 50%;
    left: 0;
    margin: auto;
    background: rgba(229, 56, 82, 0.5);
    transition: all linear 0.2s;
    border-radius: 2.5px;
    content: '';
    @include phone {
      height: 5px;
      border-radius: 1.5px;
    }
  }

  &::before {
    top: rem(-11px);
    @include phone {
      top: -1rem;
    }
  }
  &::after {
    top: rem(12px);
    @include phone {
      top: 1rem;
    }
  }

  &::before,
  &::after {
    transform: rotate(0deg);
  }


  .menu__btn:hover &,
  .menu__btn:hover &::before,
  .menu__btn:hover &::after {
    background: rgba(229, 56, 82, 1);
  }
  .menu__btn--active:hover &{
    background: 0;
  }
  .menu__btn--active & {
    background: 0;

    &::before {
      transform: rotate(45deg);
      background: rgba(229, 56, 82, 0.5);
    }
    &::after {
      transform: rotate(-45deg);
      background: rgba(229, 56, 82, 0.5);
    }

    &::before,
    &::after {
      top: 0;
    }
  }
  .menu__btn--active:hover &::before,
  .menu__btn--active:hover &::after {
    background: rgba(229, 56, 82, 1);
  }
}


// ----------------------  боковой блок -------------------- //

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom:0;
  left:0;

  z-index: 1;
  overflow: hidden;

  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  background-color: rgba(#fff, 0.65);

}

.menu--open {
  transform: translateX(0px);
  transition: transform 0.3s ease-in;
}
//-------------- внутренний блок меню----------------------------//

.menu__list {
  padding: 10px 20px;
  width: 320px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__link {
  text-decoration: none;
  font-size: rem(45px);
  color: #e53852;
  font-family: Gagalin;
  font-weight: 400;
  text-transform: uppercase;


  // кнопка меню
  .menu__btn {
    position: fixed;
    top: rem(35px);
    right: rem(35px);
    z-index: 3;
    display: inline-block;
    vertical-align: top;
    transition: 0.1s all linear;
    background: 0;
    width: rem(45px);
    height: rem(55px);
    outline: 0;
    padding: 0;
    border: 0;
    z-index: 2;
    cursor: pointer;
    @include phone {
      width: rem(65px);
      height: rem(85px);
    }
  }
  .menu__btn-bar {

    &, &::before, &::after {
      position: absolute;
      width: 100%;
      height: 5px;
      top: 50%;
      left: 0;
      margin: auto;
      background: rgba(229, 56, 82, 0.5);
      transition: all linear 0.2s;
      border-radius: 2.5px;
      content: '';
      @include phone {
        height: 5px;
        border-radius: 1.5px;
      }
    }

    &::before {
      top: rem(-11px);
      @include phone {
        top: -1rem;
      }
    }
    &::after {
      top: rem(12px);
      @include phone {
        top: 1rem;
      }
    }

    &::before,
    &::after {
      transform: rotate(0deg);
    }


    .menu__btn:hover &,
    .menu__btn:hover &::before,
    .menu__btn:hover &::after {
      background: rgba(229, 56, 82, 1);
    }
    .menu__btn--active:hover &{
      background: 0;
    }
    .menu__btn--active & {
      background: 0;

      &::before {
        transform: rotate(45deg);
        background: rgba(229, 56, 82, 0.5);
      }
      &::after {
        transform: rotate(-45deg);
        background: rgba(229, 56, 82, 0.5);
      }

      &::before,
      &::after {
        top: 0;
      }
    }
    .menu__btn--active:hover &::before,
    .menu__btn--active:hover &::after {
      background: rgba(229, 56, 82, 1);
    }
  }


  // ----------------------  боковой блок -------------------- //

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom:0;
    left:0;

    z-index: 1;
    overflow: hidden;

    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    background-color: rgba(#fff, 0.65);

  }

  .menu--open {
    transform: translateX(0px);
    transition: transform 0.3s ease-in;
  }
  //-------------- внутренний блок меню----------------------------//

  .menu__list {
    padding: 10px 20px;
    width: 320px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .menu__link {
    text-decoration: none;
    font-size: rem(45px);
    color: #e53852;
    font-family: Gagalin;
    font-weight: 400;
    text-transform: uppercase;

    &:hover {
      text-shadow: 0.9px 2.9px 0 black;
    }
  }


  &:hover {
    text-shadow: 0.9px 2.9px 0 black;
  }
}
