.video {
  padding: rem(50px) 0;
}
.video__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.video__item {
  width: 296px;
  margin: rem(10px) rem(10px);
}
.video__wrapper {
  width: 296px;
  height: 195px;
  overflow: hidden;
  background: #000;
  margin-bottom: 10px;
  position: relative ;
  cursor: pointer;

  .video__start {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid #808080;

    //&:after {
    //  display: block;
    //  width: 50px;
    //  height: 50px;
    //  content: '';
    //  position: absolute;
    //  top: 50%;
    //  left: 50%;
    //  transform: translate(-40%, -50%);
    //  background: url('../img/tri.png') center center no-repeat;
    //
    //}
  }
  .svg-triangle{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
  }

  .svg-triangle polygon {
    fill:#808080;
  }



  &:hover {
    .video__start {
      border-color: #fff;
    }
    .svg-triangle polygon {
      fill:#fff;
    }
  }

}


.video__title {
  color: black;
  font-family: 'Permian';
  font-size: rem(21px);
  font-weight: 700;
  margin-bottom: 10px;
}
.video__desq {
  color: black;
  font-family: 'Permian';
  font-size: rem(16px);
  font-weight: 400;
  margin-bottom: 10px;
}

//----------- ограничение ширины попапа-----------------------//
.mfp-iframe-holder .mfp-content {
  max-width: 513px;
}

